{% extends "base.html" %}

{% block title %}Create Customer{% endblock %}
{% block page_title %}Create Customer{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-12">

                <div class="border rounded p-3 mb-2 bg-white shadow-sm order-item">
                    <div class="card-body">

                        <form method="POST">

                            <!-- Name -->
                            <div class="mb-3">
                                <label class="form-label">Customer Name</label>
                                <input type="text"
                                    name="name"
                                    class="form-control"
                                    required>
                            </div>

                            <!-- Phone -->
                            <div class="mb-3">
                                <label class="form-label">Phone</label>
                                <input type="text"
                                    name="phone"
                                    class="form-control">
                            </div>

                            <!-- Address -->
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <textarea name="address"
                                        class="form-control"
                                        rows="2"></textarea>
                            </div>

                            <!-- Lat, Lng -->
                            <div class="mb-3">
                                <label class="form-label">
                                    Latitude, Longitude
                                </label>
                                <input type="text"
                                    name="latlng"
                                    class="form-control"
                                    placeholder="-7.571102, 110.811907">
                                <small class="text-muted">
                                    Format: latitude, longitude
                                </small>
                            </div>

                            <!-- Actions -->
                            <div class="d-flex justify-content-end gap-2">
                                <a href="{{ url_for('customers.list') }}"
                                class="btn btn-secondary">
                                    Cancel
                                </a>
                                <button type="submit"
                                        class="btn btn-primary">
                                    Save
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
