<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Delivery Route Planner{% endblock %} - Lawuan Seafood</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        

    </head>
    <body>
        <div class="sidebar p-3">
            <h4 class="fw-bold mb-4">Lawuan</h4>

            <ul class="nav flex-column gap-1">
                <li><a class="nav-link text-white" href="{{ url_for('dashboard.dashboard') }}"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
                <li><a class="nav-link" href="{{ url_for('orders.orders') }}"><i class="bi bi-receipt"></i> Orders</a></li>
                <li><a class="nav-link" href="{{ url_for('orders.create_order') }}"><i class="bi bi-receipt"></i> Create Order</a></li>

                <li><a class="nav-link" href="{{ url_for('products.products') }}"><i class="bi bi-box"></i> Products</a></li>
                <li><a class="nav-link" href="{{ url_for('delivery.delivery_order') }}"><i class="bi bi-truck"></i> Delivery</a></li>
                <li><a class="nav-link" href="{{ url_for('customers.customers_page') }}"><i class="bi bi-truck"></i> Customers</a></li>
                <li><a class="nav-link" href="{{ url_for('cashflow.cashflow_create') }}"><i class="bi bi-truck"></i> Insert Cashflow</a></li>

            </ul>
            </div>

            <!-- MAIN -->
            <div class="flex-grow-1 p-4">

                <h3 class="fw-bold mb-4">{% block page_title %}{% endblock %}</h3>


                {% block content %}{% endblock %}

            </div>
        {% block extra_js %}{% endblock %}
    </body>
</html>